<% @article.comments.each do |f|%>
	<% if signed_in? %>
		<div class="col-md-11">		
			<h5 > <%= f.content %> </h5>
			<h4 class="page-header">	<%= f.email %> </h4>
		</div>
			<%= link_to "删除评论", f,method: :delete, class: "col-md-1 btn-sm btn-primary "%>
	<% else %>
		<div class="col-md-12">		
			<h5 > <%= f.content %> </h5>
			<h4 class="page-header">	<%= f.email %> </h4>
		</div>
	<% end %>
<% end %>

	

