<div class="row">
	<h4 class="col-md-10 col-md-offset-2">留言板的内容只有我能看得到，有什么想说的尽管留在这里吧！</h4>
	<div class= "col-md-8 col-md-offset-2">
		<%= form_for @msgboard, url: msgboards_path do |f| %>
	
		<%= f.text_area :content ,class: "form-control",rows:"8",placeholder: "请输入你的留言内容.."%>
		</br>
		<%= f.text_field :email ,class: "form-control ",placeholder: "请输入你的邮箱地址.." %>
		</br>
		<%= f.submit "留 言",class: "btn-primary btn btn-default ",:data => { :"disable-with" => "正在处理..."}%>
	</div>
	<% end %>
</div>
<div class="row">
</br>
	<% if signed_in? %>
		<%= render 'msgboard' %>
	<% end %>
</div>
