<% if signed_in? %>
<div class="row"><div class="col-md-2 col-md-offset-10">
			<%= link_to "上传图片",new_photo_path ,class: "btn-primary btn btn-default "%>
	</div></div>
<% end %>

<div class="row">
	
	<% if signed_in? %>
	
	<% @photos.each do |photo| %>
		<div class="photo_list col-md-3 col-sm-6">
		<div class="thumbnail"><%= image_tag(photo.avatar_url(:large)) if(photo.avatar) %>
		<p class="col-md-offset-5"><%= link_to photo.kinds,photo_path(photo)%></p>
		<p class="col-md-offset-4"><%= link_to "删除照片", photo,method: :delete, class: "btn btn-primary "%></p>
	</div>
	</div>
	<% end %>
		
	<% else %>
		
		<% @photos.each do |photo| %>
		<div class="photo_list col-md-3 col-sm-6">
		<div class="thumbnail"><%= image_tag(photo.avatar_url(:large)) if photo.avatar %>
			<p class="col-md-offset-5"><%= link_to photo.kinds,photo_path(photo)%></p>
	</div>
	</div>
	<% end %>
	<% end %>
</div>

