<!DOCTYPE html>
<html>
<head>
  <title>Genkin's Blog</title>
	<link rel="icon" href="favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class=".container-fluid">
<%= render 'layouts/header' %>
<div class=".container-fluid"><%= yield %></div>
<%= render 'layouts/footer'%>
</body>
</html>
